#__blaze-root {
  min-height: 100%;

  .fluid {
    height: 100%;
    width: 100%;
    overflow: hidden;
    &.height {
      height: 100%;
      width: auto;
    }
    &.width {
      height: auto;
      width: 100%;
    }
  }
  //
  .footer {
    bottom: 0;
    left: 0;
    position: absolute;
  }
}
