<template name="Login">
  <div id="login" class="ui middle aligned center aligned grid streched">
    <div class="inverted column">
      <h2 class="ui header">
        Entrar a Meteor Spain
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="Correo electr&oacute;nico">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Contrase&ntilde;a">
            </div>
          </div>

          <div class="ui fluid large teal submit button">Entrar</div>
          <div class="ui horizontal divider"> O </div>
          <div id="login-meetup" class="ui fluid large red submit button">
            Entrar con meeetup
          </div>
        </div>
      </form>

    </div>
  </div>
</template>
